@model Candy

<h1>@Model.Name</h1>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="float-right">@Model.Price.ToString("c")</h3>
        <h3 class="text-center">
            <a href="#">@Model.Name</a>
        </h3>
        <a class="btn btn-success text-center"
           asp-controller="ShoppingCart"
           asp-action="AddToShoppingCart"
           asp-route-candyId="@Model.CandyId">
            Add to Cart
        </a>

        <p>@Model.Description</p>

    </div>
</div>